<div class="col-xs-12" id="gifs_view">
	<div class="col-xs-4">
		<h3>Gif user list</h3>
		<div class="col-xs-12 list">
			<div class="col-xs-12" ng-repeat="gif in giphyComponent.user.gifs track by gif.id">
				<div class="gif_container" ng-click="giphyComponent.removeFavoriteGif($event, gif)">
					<video src="{{ gif.url }}" autoplay="autoplay" loop="infinite"></video>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<h3>Gif list: <small>{{ giphyComponent.gifs.pagination.total_count }} on page {{ giphyComponent.page }}</small></h3>
		<form name="gif_search" class="form-inline">
			<div class="form-group">
				<label for="search_gifs">Search:</label>
				<input class="form-control" type="text" id="search_gifs" ng-model="giphyComponent.search">
			</div>
			<button type="submit" class="btn btn-primary" ng-click="giphyComponent.update($event)">Search</button>
			<button type="button" class="btn btn-default" ng-click="giphyComponent.prev($event)">Prev</button>
			<button type="button" class="btn btn-default" ng-click="giphyComponent.next($event)">Next</button>
		</form>
		<div class="col-xs-6" ng-repeat="gif in giphyComponent.gifs.data track by gif.id">
			<div class="gif_container" ng-click="giphyComponent.addFavoriteGif($event, gif)">
				<video src="{{ gif.images.preview.mp4 }}" autoplay="autoplay" loop="infinite"></video>
			</div>
		</div>
	</div>
</div>
