<div class="col-xs-3">
	<h2><a href="#!/">Home</a></h2>
	<div class="col-xs-12 card">
		<div class="card_container">
			<p>{{ usersController.user.name }}</p>
			<img ng-cloak src="{{ usersController.user.photo }}" alt="Photo of {{ usersController.user.name }}" height="100px">
			<p><small>{{ usersController.user.email }}</small></p>
			<p>Phone: {{ usersController.user.phone }}</p>
			<p>Description:</p>
			<p>{{ usersController.user.description }}</p>
			<p>{{ (usersController.user.gifs.length)?'Has ' + usersController.user.gifs.length + ' gifs as favorites.':'' }}</p>
			<p>{{ (usersController.user.comics.length)?'Has ' + usersController.user.comics.length + ' comics as favorites.':'' }}</p>
		</div>
	</div>
</div>
<div class="col-xs-9">
	<ul class="nav nav-tabs">
		<li id="show_gifs" class="active" ng-click="usersController.showGifs()"><a>Gifs</a></li>
		<li id="show_comics" ng-click="usersController.showComics()"><a>Comics</a></li>
	</ul>



	<div class="col-xs-12" id="gifs_view" ng-controller="GifsController as gifsController">
		<div class="col-xs-4">
			<h3>Gif user list</h3>
			<div class="col-xs-12 list">
				<div class="col-xs-12" ng-repeat="gif in usersController.user.gifs track by gif.id">
					<div class="gif_container" ng-click="usersController.removeFavoriteGif($event, gif)">
						<video src="{{ gif.url }}" autoplay="autoplay" loop="infinite"></video>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-8">
			<h3>Gif list: <small>{{ gifsController.gifs.pagination.total_count }} on page {{ gifsController.page }}</small></h3>
			<form name="gif_search" class="form-inline">
				<div class="form-group">
					<label for="search_gifs">Search:</label>
					<input class="form-control" type="text" id="search_gifs" ng-model="gifsController.search">
				</div>
				<button type="submit" class="btn btn-primary" ng-click="gifsController.update($event)">Search</button>
				<button type="button" class="btn btn-default" ng-click="gifsController.prev($event)">Prev</button>
				<button type="button" class="btn btn-default" ng-click="gifsController.next($event)">Next</button>
			</form>
			<div class="col-xs-6" ng-repeat="gif in gifsController.gifs.data track by gif.id">
				<div class="gif_container" ng-click="usersController.addFavoriteGif($event, gif)">
					<video src="{{ gif.images.preview.mp4 }}" autoplay="autoplay" loop="infinite"></video>
				</div>
			</div>
		</div>
	</div>



	<div class="col-xs-12 hide" id="comics_view" ng-controller="ComicsController as comicsController">
		<div class="col-xs-4">
			<h3>Comics user list</h3>
			<div class="col-xs-12 list">
				<div class="col-xs-12" ng-repeat="comic in usersController.user.comics track by comic.id">
					<div class="comic_container" ng-click="usersController.removeFavoriteComic($event, comic)">
						<img src="{{ comic.url }}" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-8">
			<h3>Comic list: <small>{{ comicsController.comics.total }} on page {{ comicsController.page }}</small></h3>
			<form name="gif_search" class="form-inline">
				<div class="form-group">
					<label for="search_comics">Search:</label>
					<input class="form-control" type="text" id="search_comics" ng-model="comicsController.search">
				</div>
				<button type="submit" class="btn btn-primary" ng-click="comicsController.update($event)">Search</button>
				<button type="button" class="btn btn-default" ng-click="comicsController.prev($event)">Prev</button>
				<button type="button" class="btn btn-default" ng-click="comicsController.next($event)">Next</button>
			</form>
			<div class="col-xs-4" ng-repeat="comic in comicsController.comics.results track by comic.id">
				<div class="comic_container" ng-click="usersController.addFavoriteComic($event, comic)">
					<img src="{{ comic.images[0].path + '/portrait_xlarge.' + comic.images[0].extension }}" alt="{{comic.title}}">
				</div>
			</div>
		</div>
	</div>



</div>
