<div class="col-xs-3">
	<h2><a href="#!/">Home</a></h2>
	<div class="col-xs-12 card">
		<div class="card_container">
			<p>{{ usersController.user.name }}</p>
			<img ng-cloak src="{{ usersController.user.photo }}" alt="Photo of {{ usersController.user.name }}" height="100px">
			<p><small>{{ usersController.user.email }}</small></p>
			<p>Phone: {{ usersController.user.phone }}</p>
			<p>Description:</p>
			<p>{{ usersController.user.description }}</p>
			<p>{{ (usersController.user.gifs.length)?'Has ' + usersController.user.gifs.length + ' gifs as favorites.':'' }}</p>
			<p>{{ (usersController.user.comics.length)?'Has ' + usersController.user.comics.length + ' comics as favorites.':'' }}</p>
		</div>
	</div>
</div>
<div class="col-xs-9">
	<ul class="nav nav-tabs">
		<li id="show_gifs" class="active" ng-click="usersController.showGifs()"><a>Gifs</a></li>
		<li id="show_comics" ng-click="usersController.showComics()"><a>Comics</a></li>
	</ul>

	<giphy-component user="usersController.user"></giphy-component>
	<marvel-component user="usersController.user"></marvel-component>
</div>
